<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Life_Saver_Hub</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Success</display-name>
    <servlet-name>Success</servlet-name>
    <servlet-class>controller.Success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Success</servlet-name>
    <url-pattern>/Success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHospitalsController</display-name>
    <servlet-name>AddHospitalsController</servlet-name>
    <servlet-class>controller.AddHospitalsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHospitalsController</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloodBankController</display-name>
    <servlet-name>BloodBankController</servlet-name>
    <servlet-class>controller.BloodBankController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloodBankController</servlet-name>
    <url-pattern>/Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchBloodData</display-name>
    <servlet-name>FetchBloodData</servlet-name>
    <servlet-class>controller.FetchBloodData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchBloodData</servlet-name>
    <url-pattern>/fetchBloodData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonorDashController</display-name>
    <servlet-name>DonorDashController</servlet-name>
    <servlet-class>controller.DonorDashController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonorDashController</servlet-name>
    <url-pattern>/fetchDonorData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonationsController</display-name>
    <servlet-name>DonationsController</servlet-name>
    <servlet-class>controller.DonationsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonationsController</servlet-name>
    <url-pattern>/Donate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutController</display-name>
    <servlet-name>logoutController</servlet-name>
    <servlet-class>controller.logoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updatebloodbank</display-name>
    <servlet-name>Updatebloodbank</servlet-name>
    <servlet-class>controller.Updatebloodbank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updatebloodbank</servlet-name>
    <url-pattern>/Updatebloodbank</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileController</display-name>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>controller.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/getUserById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hospitalusersController</display-name>
    <servlet-name>hospitalusersController</servlet-name>
    <servlet-class>controller.hospitalusersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hospitalusersController</servlet-name>
    <url-pattern>/AddHospitaluser</url-pattern>
  </servlet-mapping>
</web-app>